.contact-section {
    padding: 60px 0;
    background-color: #ffffff;
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .section-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #333;
  }
  
  .contact-details {
    font-size: 1.2em;
    color: #555;
    max-width: 600px;
    margin: auto;
    font-size: 18px;

  }
  
  .contact-details p {
    margin: 10px 0;
  }
  
  .contact-details a {
    color: #0073e6;
    text-decoration: none;
  }
  
  .contact-details a:hover {
    text-decoration: underline;
  }
  